* {
  margin: 0;
  padding: 0;
}
.filestosend > ul {
  list-style: none;
}
.quill {
  height: 400px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.posts {
  margin-right: 20px;
  padding: 15px !important;
}
.jcfe {
  justify-content: flex-end;
}